<div id="twitch-embed" style="display: none;">
</div>

<div id="youtube-embed">
    <iframe
        src="https://www.youtube.com/embed/videoseries?list=UU8yI8WFkoibnfbpbu9nCRLg&autoplay=true&mute=true"></iframe>
</div>


<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
    var player = new Twitch.Embed("twitch-embed", {
        channel: "cosmicwolf_arts",
        layout: "video",
        muted: true,
        parent: ['sites.google.com', 'www.gstatic.com', window.location.host]
    });

    player.addEventListener(Twitch.Player.ONLINE, () => {
        document.querySelectorAll('#twitch-embed')[0].removeAttribute("style")
        document.querySelectorAll('#youtube-embed')[0].remove()
    })

</script>

<style>
    #twitch-embed,
    #youtube-embed {
        z-index: 0;
        margin: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        border-radius: 20px;

        padding: 3px;

        background:
            conic-gradient(from var(--angle),
                #fd39ae 0deg 85deg,
                #ffda56 90deg 175deg,
                #fd39ae 180deg 265deg,
                #ffda56 270deg 355deg,
                #fd39ae 360deg 360deg);

        animation: 30s rotate linear infinite;
    }

    #twitch-embed:before,
    #youtube-embed:before {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;

        width: calc(100% - 50px);
        height: calc(100% - 50px);

        border: 3px solid;
        border-image:
            conic-gradient(from var(--angle),
                #fd39ae 0deg 85deg,
                #ffda56 90deg 175deg,
                #fd39ae 180deg 265deg,
                #ffda56 270deg 355deg,
                #fd39ae 360deg 360deg) 1;

        filter: blur(10px);

        animation: 30s rotate linear infinite;

    }



    iframe {

        display: inline;
        width: 100%;
        height: 100%;
        border-radius: 17px;
        border: none;
        background: black;

    }

    * {
        margin: 0;
        padding: 0;
    }

    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

    @property --angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    body {
        overflow: hidden;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">